<manifest package="net.dankito.deepthought.android"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>

        <!-- Add your Fabric API key here -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value=""
        />

    </application>

</manifest>
