[submodule "libs/data_access_layer/database/couchbase-lite-jpa"]
	path = libs/data_access_layer/database/couchbase-lite-jpa
	url = https://github.com/dankito/couchbase-lite-jpa
[submodule "libs/news/Crux"]
	path = libs/news/Crux
	url = https://github.com/dankito/crux
[submodule "libs/data_access_layer/database/jpa-apt"]
	path = libs/data_access_layer/database/jpa-apt
	url = https://github.com/dankito/jpa-apt
[submodule "libs/ui_layer/RichTextEditor"]
	path = libs/ui_layer/RichTextEditor
	url = https://github.com/dankito/RichTextEditor
[submodule "libs/news/Readability4J"]
	path = libs/news/Readability4J
	url = https://github.com/dankito/Readability4J
[submodule "libs/news/Readability4JAdvanced"]
	path = libs/news/Readability4JAdvanced
	url = https://github.com/dankito/Readability4JAdvanced
